*, html {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font: 15px/1.3 Helvetica, arial, sans-serif;
  margin: 0 auto;
  overflow: scroll;
  position: relative;
  padding: 0;
}

p.menu {
  position: fixed;
  left: 0;
  z-index: 999;
  display: block;
  width: 100%;
  height: 1.5em;
  background-color: #ddd;
}

p.menu a {
  display: inline-block;
  padding: 0 .8em;
}

p.menu a.target-name {
  font-weight: bold;
}

p.menu a.all-rooms, p.menu a.version-info {
  float: right;
}

p.loader {
  text-align: center;
}

ul.main {
  padding-top: 1.5em;
  display: block;
}

li.item {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #999;
  display: table;
  table-layout: fixed;
}

li.item span.info {
  padding: .5em 1em;
  width: 15%;
  display: table-cell;
}


li.item pre {
  padding: 0 1em;
  display: table-cell;
  white-space: normal;
}

li.item pre code {
  font: 14px/1.3 Menlo, Monaco, 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
  margin: 0;
  white-space: pre-wrap;
  max-height: 8.5em;
  min-height: 4.5em;
  overflow-y: scroll;
}

li.placeholder {
  display: none;
}

li.item span.info {
  color: #333;
}

li.item.red span.info {
  color: #c03;
  font-weight: 600;
}

li.item.red {
  background-color: #f9aaaa;
}

li.item.yellow {
  background-color: #fff9ea;
}
}

li.item.gray {
  background-color: #ddd;
}
