{% extends 'layout.html' %}

{% block title %}
{{ name }} - errordog
{% endblock %}

{% block extra_header %}
<link rel="stylesheet" href="{{ url('/static/zenburn.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url('/static/style.css') }}" type="text/css" />
<script src="{{ url('/static/jquery-2.1.1.min.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url('/static/highlight.pack.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url('/static/script.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block main %}
<p class="loader"> Waiting logging data.. </p>
<p class="menu">
  <a class="target-name"> {{ name }} </a>
  <a class="update-toggle" href="javascript:void(0)">Disable Update</a>
  <a class="follow-toggle" href="javascript:void(0)">Disable Follow</a>
  <a class="fullscreen-toggle" href="javascript:void(0)">Enter Fullscreen</a>
</p>
<ul class="main">
  <li class="item placeholder">
    <span class="info">
      <p class="datetime"></p>
      <p class="message"></p>
    </span>
    <pre>
      <code class="bash"></code>
    </pre>
  </li>
</ul>
{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf-8">
  hljs.initHighlightingOnLoad();
  window.onload = function() {
    init('{{ api }}', '{{ name }}', {{ target.interval }});
  };
</script>
{% endblock %}
